@media (min-width: 300px) and (max-width: 600px) {
  header {
    height: 88px !important;
  }
  .nav-header {
    /* width: 100%; */
    height: 88px !important;
    /* padding-right: 203px !important; */
    padding-left: 15px !important;
  }

  .nav-container {
    flex-direction: column !important;
  }
  /* 
  .nav-searching {
    flex-direction: column;
  } */

  .line {
    display: block !important; /* Show the menu-bar */
  }

  .navigation-bar {
    display: none !important;
  }

  .search-bar {
    display: none !important;
  }

  .nav-container .nav-searching {
    display: none !important;
  }

  .menu-bar {
    display: block !important;
  }

  .menu-container {
    width: 340px;
    background-color: white;
    overflow-y: hidden;
    position: fixed;
    top: 0px;
    bottom: 0;
    width: 300px !important;
    background-color: #fff;
    left: -354px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: 0.2s;
    transform: translate3d(104%, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: block !important;
  }

  .bgb {
    justify-content: center !important;
  }

  .cd {
    position: absolute !important;
    right: 0px !important;
    font-size: 20px !important;
  }

  .nav-logo img {
    height: 82px !important;
    width: 98 !important;
    margin: 5px 0 5px !important;
  }

  .shop-container {
    height: 100% !important;
    width: 100% !important;
    margin: 30px auto !important;
    /* background-color: red; */
  }

  span {
    margin: 0 0.8em !important;
    max-width: 100% !important;
    font-size: 13px !important;
    font-family: "Playfair Display", serif;
    font-weight: 500;
  }

  .title::before {
    content: "" !important;
    border-bottom: 1px solid #dfdfdf;
    width: 30% !important;
  }

  .title::after {
    content: "" !important;
    border-bottom: 1px solid #dfdfdf;
    width: 30% !important;
  }

  .section_nt_filter {
    /* padding: 5px 0 5px 20px; */
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .section_nt_filter i {
    line-height: 0.7;
    font-size: 26px;
    cursor: pointer;
  }

  .mt_30 {
    /* height: 100%; */
    width: 100% !important;
    margin: 15px auto;
    margin-top: 30px;
    /* background-color: blueviolet; */
    display: flex;
  }

  .bgb {
    background-color: rgba(0, 0, 0, 0.05);
    color: #000;
  }

  .h3 {
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    /* box-shadow: 0 0 10px 0 rgba(129, 129, 129, 0.2); */
    justify-content: space-between;
    min-height: 50px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .loke_scroll ul li {
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 5px 50px;
    min-height: 50px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
    color: #222;
    font-size: 14px;
    text-align: left;
    line-height: 1.3;
    letter-spacing: 0.2px;
    font-size: 14px;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .loke_scroll a {
    text-decoration: none;
    color: #000;
  }

  .mt_30 > .cat_space_item:nth-child(2) {
    display: none;
  }

  .mt_30 > .cat_space_item:nth-child(3) {
    display: none;
  }

  .cat_space_item {
    height: 100% !important;
    width: 563px !important;
    /* background-color: red; */
    padding-left: 15px;
    padding-right: 15px;
  }

  .cat_space_item img {
    /* height: 100% !important; */
    width: 100% !important;
    margin-bottom: 10px !important;
    object-fit: contain;
  }

  .row {
    flex-direction: column;
  }

  .order_1 {
    /* margin-bottom: 30px !important; */
  }

  .widget_nav_menu {
    padding: 0 15px;
  }

  .text_title {
    font-size: 20px !important;
  }

  .menu_cn {
    display: none;
  }

  .footer_contant {
    padding: 0 15px;
  }
}
