@media (min-width: 300px) and (max-width: 767px) {
  header {
    height: 88px !important;
  }
  .nav-header {
    /* width: 100%; */
    height: 88px !important;
    /* padding-right: 203px !important; */
    padding-left: 15px !important;
  }

  .nav-container {
    flex-direction: column !important;
  }
  /* 
  .nav-searching {
    flex-direction: column;
  } */

  .line {
    display: block !important; /* Show the menu-bar */
  }

  .navigation-bar {
    display: none !important;
  }

  .search-bar {
    display: none !important;
  }

  .nav-container .nav-searching {
    display: none !important;
  }

  .menu-bar {
    display: block !important;
  }

  .menu-container {
    width: 340px;
    background-color: white;
    overflow-y: hidden;
    position: absolute;
    top: 0px;
    /* bottom: 0; */
    width: 340px !important;
    background-color: #fff;
    left: -354px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: 0.2s;
    transform: translate3d(104%, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: block !important;
  }

  .bgb {
    justify-content: center !important;
  }

  .fa-xmark {
    position: absolute !important;
    right: 0px !important;
    font-size: 20px !important;
  }

  .nav-logo img {
    height: 82px !important;
    width: 98 !important;
    margin: 5px 0 5px !important;
  }

  .shop-container {
    height: 100% !important;
    width: 100% !important;
    margin: 30px auto !important;
    /* background-color: red; */
  }

  h2 span {
    font-size: 9px !important;
  }

  span {
    /* margin: 0 0.8em !important; */
    max-width: 100% !important;
    font-size: 12px !important;
    font-family: "Playfair Display", serif;
    font-weight: 500;
  }

  .title::before {
    content: "" !important;
    border-bottom: 1px solid #dfdfdf;
    width: 30% !important;
  }

  .title::after {
    content: "" !important;
    border-bottom: 1px solid #dfdfdf;
    width: 30% !important;
  }

  .section_nt_filter {
    /* padding: 5px 0 5px 20px; */
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .section_nt_filter i {
    line-height: 0.7;
    font-size: 26px;
    cursor: pointer;
  }

  .mt_30 {
    height: 100% !important;
    width: 100% !important;
    margin: 15px auto;
    margin-top: 30px;
    /* background-color: blueviolet; */
    display: flex;
  }

  .bgb {
    background-color: rgba(0, 0, 0, 0.05);
    color: #000;
  }

  .h3 {
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    /* box-shadow: 0 0 10px 0 rgba(129, 129, 129, 0.2); */
    justify-content: space-between;
    min-height: 50px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .loke_scroll ul li {
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 5px 50px;
    min-height: 50px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
    color: #222;
    font-size: 14px;
    text-align: left;
    line-height: 1.3;
    letter-spacing: 0.2px;
    font-size: 14px;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .loke_scroll a {
    text-decoration: none;
    color: #000;
  }

  .mt_30 > .cat_space_item:nth-child(2) {
    display: none;
  }

  .mt_30 > .cat_space_item:nth-child(3) {
    display: none;
  }

  .cat_space_item {
    height: 100% !important;
    width: 100% !important;
    /* background-color: red; */
    padding-left: 15px;
    padding-right: 15px;
  }

  .cat_space_item img {
    height: 100% !important;
    width: 100% !important;
    margin-bottom: 10px !important;
    object-fit: contain;
  }

  .row {
    flex-direction: column !important;
    width: 100% !important;
    padding: 0 0 !important;
  }

  .order_1 {
    /* margin-bottom: 30px !important; */
    padding: 0 0 !important;
  }

  .widget_nav_menu {
    /* padding: 0 15px; */
    width: 100% !important;
  }

  #widget_title_bar {
    display: flex !important;
    align-items: center !important;
    color: #ffffff !important;
    padding: 0 7.5px !important;
  }

  .text_title {
    font-size: 20px !important;
  }

  .nav_link_icon {
    width: 12px;
    height: 12px;
    position: relative;
    display: block;
    -msflex: 0 0 auto;
    flex: 0 0 auto;
    cursor: pointer; /* cursor pointer for clickable effect */
  }

  .nav_link_icon:before,
  .nav_link_icon:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 12px;
    height: 1px;
    background-color: currentColor;
    transform: translate(-50%, -50%) rotate(-90deg);
    transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
  }

  /* Initial state */
  .nav_link_icon:before {
    opacity: 1;
  }

  /* State after click */
  .nav_link_icon.active:before {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
  }

  .nav_link_icon:after,
  .nav_link_icon:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: currentColor;
    transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out,
      -webkit-transform 0.35s ease-in-out;
  }

  .nav_link_icon:after {
    width: 1px;
    height: 12px;
  }

  .menu_cn {
    display: none;
    /* opacity: 0; */
    transform: translateY(-20px);
    transition: transform 01.3s, opacity 0.3s;
  }

  .menu_cn.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  #order_6 {
    margin-bottom: 10px;
  }

  .footer_contant {
    padding: 0 15px;
  }

  .footer_text p {
    text-align: center !important;
  }

  .signup_form {
    flex-direction: column !important;
  }

  .email {
    width: 100% !important;
  }

  input {
    width: 100% !important;
    padding: 0 !important;
    text-align: center !important;
  }

  /* ::placeholder {
    padding-left: 10px;
  } */

  .button {
    width: 100% !important;
    height: 40px !important;
    margin-left: 1px;
    margin-top: 10px !important;
  }

  .submit_btn {
    width: 100% !important;
  }

  .row :nth-child(6) {
    margin-top: 50px !important;
  }

  /*  */
  /*  */
  .kalles_toolbar {
    transform: none !important;
    -webkit-transform: none !important;
  }
  .kalles_toolbar {
    background-color: #fff !important;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 67px !important;
    z-index: 350 !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    -webkit-overflow-scrolling: touch !important;
    padding: 5px !important;
    height: 55px !important;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.12) !important;
    transform: translate3d(0, 104%, 0) !important;
    -webkit-transform: translate3d(0, 104%, 0) !important;
    transition: transform 0.25s !important;
  }

  .kalles_toolbar_item {
    width: 100%;
  }

  .fl_between {
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
  }
  .al_center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .kalles_toolbar_label_true .kalles_toolbar_item > a {
    position: relative;
    /* padding-bottom: 15px; */
  }
  .kalles_toolbar_item > a {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 45px;
    color: #222;
    font-weight: 400;
    line-height: 1;
  }

  .swatch .nt-swatch,
  a,
  button,
  input {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  a,
  a:active,
  a:focus,
  a:hover {
    text-decoration: none;
    outline: 0;
  }
  a {
    color: #222;
    transition: 0.3s;
  }

  .toolbar_icon i {
    font-size: 20px !important;
    padding-bottom: 2px !important;
  }
}

@media (min-width: 300px) and (max-width: 414px) {
  .kalles_toolbar_item {
    width: 60px;
  }
}

@media (min-width: 300px) and (max-width: 445px) {
  .row :nth-child(6) {
    margin-top: 60px !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .mt_30 {
    height: 100% !important;
    width: 100% !important;
  }

  .cat_space_item {
    height: 100% !important;
    width: 100% !important;
  }

  .cat_space_item img {
    width: 100% !important;
    object-fit: contain !important;
  }

  .row {
    width: auto !important;
  }

  .order_1 {
    margin-bottom: 50px !important;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 0 !important;
  }

  .row :nth-child(5) {
    width: 100%;
    margin-bottom: 50px;
  }

  .footer_text p {
    text-align: center;
  }

  #order_5 {
    height: 106.19px;
    width: 100% !important;
  }

  .email {
    height: 40px;
    width: 100% !important;
  }

  input {
    width: 100% !important;
  }

  #order_6 {
    position: relative;
    top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 845px) {
  #order_6 {
    position: inherit;
  }
}

@media (min-width: 300px) and (max-width: 450px) {
  .menu-container {
    width: 250px !important;
    left: -260px !important;
  }

  span {
    font-size: 10px !important;
  }

  .act_opened {
    width: 250px !important;
    right: 260px !important;
  }

  .widget-title {
    padding-bottom: 0 !important ;
  }

  .col {
    padding-left: 5px !important;
  }

  .mb__10 {
    margin: 0 0 0 0 !important;
  }

  .widget_if__pr {
    width: 145px !important;
  }

  .db {
    font-size: 10px !important;
  }
}
